<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'app_site_cursos:home' %}">Home</a></li>
                <li><a href="{% url 'app_site_cursos:add_cursos' %}">Adicionar Cursos</a></li>
                <li><a href="{% url 'app_users:add_users' %}">Portal do Aluno</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>
     <!-- Adicionando Bootstrap JS e dependências -->
     <script src="{% static 'js/script.js' %}"></script> <!-- Seu arquivo JS -->
</body>
</html>
